[Desktop Entry]
Type=Application
Exec=screen -dm -S looper bash -c "cd /home/pi/looper; ionice -c 2 -n 0 python -m looper run |& tee /home/pi/looper/looper.log; exec bash"
