{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="card">
        <div class="card-header">
            Tracks
        </div>
        <div class="card-body">

            <div class="card-group">
                {% for track_id in track_ids %}
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Track {{track_id}}</div>
                    <div class="card-body">
                        <p>
                            <span class="badge bg-secondary text-decoration-line-through" id="label-track-{{track_id}}-recording">Recording</span>
                            <span class="badge bg-secondary text-decoration-line-through" id="label-track-{{track_id}}-playing">Playing</span>
                            <span class="badge bg-secondary text-decoration-line-through" id="label-track-{{track_id}}-nonempty">Non-empty</span>
                        </p>
                        <p>
                            <button type="button" class="btn btn-danger button-track-record me-3 p-2" id="btn-track-{{track_id}}-record" track-id="{{track_id}}">Record</button>
                            <button type="button" class="btn btn-success button-track-play me-3 p-2" id="btn-track-{{track_id}}-play" track-id="{{track_id}}">Play</button>
                            <button type="button" class="btn btn-warning button-track-reset me-3 p-2" id="btn-track-{{track_id}}-reset" track-id="{{track_id}}">Reset</button>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <button type="button" class="btn btn-primary" id="btn-add-track">Add track</button>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Looper
        </div>
        <div class="card-body">
            <p>
                Phase: <span id="looper-status-phase"></span>
            </p>
            <p>
                Progress: <span id="looper-status-progress"></span>
            </p>
            <p>
                Loop duration: <span id="looper-status-duration"></span>
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Output Recorder
        </div>
        <div class="card-body">
            <p>
                Recording: <span id="recorder-status-saving"></span>
            </p>
            <p>
                Duration: <span id="recorder-status-duration"></span>
            </p>
            <p>
                <button type="button" class="btn btn-danger" id="btn-save-output">Save output</button>
            </p>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script>
tracks_num = {{track_ids|length}}

$(document).ready(function() {
    bindTrackButtons()
    bindRecorderButtons()
    bindNewTrackButton()
    refreshAllStatus()
})
</script>
{% endblock %}
