{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="card bg-light mb-3">
        <div class="card-header">
            Tracks
        </div>
        <div class="card-body">

            <div class="card-group">
                {% for track in tracks %}
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Track {{track.index + 1}}: {{track.name}}</div>
                    <div class="card-body">
                        <p>
                            <span class="badge bg-secondary text-decoration-line-through" id="label-track-{{track.index}}-recording">Recording</span>
                            <span class="badge bg-secondary text-decoration-line-through" id="label-track-{{track.index}}-playing">Playing</span>
                            <span class="badge bg-secondary text-decoration-line-through" id="label-track-{{track.index}}-nonempty">Non-empty</span>
                            <button type="button" class="btn btn-info badge bg-secondary text-decoration-line-through button-track-main" id="label-track-{{track.index}}-main" track-id="{{track.index}}">Main</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-danger button-track-record me-3 p-2" id="btn-track-{{track.index}}-record" track-id="{{track.index}}">Record</button>
                            <button type="button" class="btn btn-success button-track-play me-3 p-2" id="btn-track-{{track.index}}-play" track-id="{{track.index}}">Play</button>
                            <button type="button" class="btn btn-warning button-track-reset me-3 p-2" id="btn-track-{{track.index}}-reset" track-id="{{track.index}}">Reset</button>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <button type="button" class="btn btn-primary" id="btn-add-track">Add track</button>

        </div>
    </div>

    <div class="card bg-light mb-3">
        <div class="card-header">
            Looper
        </div>
        <div class="card-body">
            <p>
                Phase: <span id="looper-status-phase"></span>
            </p>
            <p>
                Progress: <span id="looper-status-progress"></span>
            </p>
            <p>
                Loop duration: <span id="looper-status-duration"></span>s
            </p>
        </div>
    </div>


</div>
{% endblock %}

{% block extra_js %}
<script>
tracks_num = {{tracks_num}}

$(document).ready(function() {
    bindTrackButtons()
    bindRecorderButtons()
    bindNewTrackButton()

    refreshTracks()
    refreshLooperStatus()
})
</script>
{% endblock %}
