{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="card bg-light">
        <div class="card-header">
            Output Recorder
        </div>
        <div class="card-body">
            <p>
                Phase: <span id="recorder-status-phase"></span>
            </p>
            <p>
                Duration: <span id="recorder-status-duration"></span>
            </p>
            <p>
                <button type="button" class="btn btn-danger" id="btn-save-output">Record Output</button>
            </p>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header">
            Recordings ({{ recordings | length }})
        </div>
        <div class="card-body">

            <ul>
                {% for recording in recordings %}
                <li>
                    <a href="{{recording.link}}" target="_blank">{{recording.name}}</a> - {{recording.filesize_mb | round(3)}} MB
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>

</div>
{% endblock %}


{% block extra_js %}
<script>
$(document).ready(function() {
    bindRecorderButtons()

    refreshOutputRecorderStatus()
})
</script>
{% endblock %}
