{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="card">
        <div class="card-header">
            Recordings
        </div>
        <div class="card-body">

            <ul>
                {% for recording in recordings %}
                <li>
                    <a href="{{recording.link}}" target="_blank">{{recording.name}}</a> - {{recording.filesize_mb | round(3)}} MB
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>

</div>
{% endblock %}
