{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="card bg-light">
        <div class="card-header">Input Volume</div>
        <div class="card-body">
            <p>
                Amplification: <span id="volume-input-volume"></span>dB
                <span class="badge bg-secondary text-decoration-line-through" id="label-volume-input-muted">Muted</span>
            </p>
            <div>
                <div class="input-group mb-5">
                    <input type="text" class="form-control" placeholder="Volume [dB]" id="text-input-volume">
                    <span class="input-group-text">dB</span>
                    <button class="btn btn-outline-secondary" type="button" id="btn-set-input-volume-m1">-1</button>
                    <button class="btn btn-outline-secondary" type="button" id="btn-set-input-volume-p1">+1</button>
                    <button class="btn btn-outline-secondary" type="button" id="btn-set-input-volume">Set</button>
                </div>
                <div class="mb-5">
                    <div id="slider-input-volume"></div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="btn-mute-input">Mute</button>
            </div>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header">Tracks Output Volume</div>
        <div class="card-body">

            {% for track_id in track_ids %}
            <div class="card text-dark bg-light mb-3">
                <div class="card-header">Track {{track_id}}</div>
                <div class="card-body">
                    <p>
                        Track loudness: <span id="label-track-{{track_id}}-loudness"></span>dB
                    </p>
                    <p>
                        Amplification: <span id="label-track-{{track_id}}-volume"></span>dB
                    </p>
                    <div>
                        <div class="input-group mb-5">
                            <input type="text" class="form-control" placeholder="Volume [dB]" id="text-track-{{track_id}}-volume">
                            <span class="input-group-text">dB</span>
                            <button class="btn btn-outline-secondary" type="button" id="btn-set-track-{{track_id}}-volume-m1">-1</button>
                            <button class="btn btn-outline-secondary" type="button" id="btn-set-track-{{track_id}}-volume-p1">+1</button>
                            <button class="btn btn-outline-secondary" type="button" id="btn-set-track-{{track_id}}-volume">Set</button>
                        </div>
                        <div class="mb-5">
                            <div id="slider-track-{{track_id}}-volume"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="card bg-light">
        <div class="card-header">Master Output Volume</div>
        <div class="card-body">
            <p>
                Amplification: <span id="volume-output-volume"></span>dB
                <span class="badge bg-secondary text-decoration-line-through" id="label-volume-output-muted">Muted</span>
            </p>
            <div>
                <div class="input-group mb-5">
                    <input type="text" class="form-control" placeholder="Volume [dB]" id="text-output-volume">
                    <span class="input-group-text">dB</span>
                    <button class="btn btn-outline-secondary" type="button" id="btn-set-output-volume-m1">-1</button>
                    <button class="btn btn-outline-secondary" type="button" id="btn-set-output-volume-p1">+1</button>
                    <button class="btn btn-outline-secondary" type="button" id="btn-set-output-volume">Set</button>
                </div>
                <div class="mb-5">
                    <div id="slider-output-volume"></div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="btn-mute-output">Mute</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script>
tracks_num = {{track_ids|length}}

$(document).ready(function() {
    // input volume buttons
    $("#btn-mute-input").click(function () {
        ajaxRequest('post', '/api/volume/input/mute', function(data) {
            refreshInputVolume()
        })
    })
    setupVolumeSlider(
        'slider-input-volume', 
        'btn-set-input-volume', 
        'btn-set-input-volume-m1', 
        'btn-set-input-volume-p1', 
        'text-input-volume', 
        function(volume) {
            ajaxRequest('post', `/api/volume/input/set/${volume}`, function(data) {
                refreshInputVolume()
            })
        }
    )

    // output volume buttons
    $("#btn-mute-output").click(function () {
        ajaxRequest('post', '/api/volume/output/mute', function(data) {
            refreshOutputVolume()
        })
    })
    setupVolumeSlider(
        'slider-output-volume', 
        'btn-set-output-volume', 
        'btn-set-output-volume-m1', 
        'btn-set-output-volume-p1', 
        'text-output-volume', 
        function(volume) {
            ajaxRequest('post', `/api/volume/output/set/${volume}`, function(data) {
                refreshOutputVolume()
            })
        }
    )

    // track volume buttons
    for (var trackId = 0; trackId < tracks_num; trackId++) {
        setupVolumeSlider(
            `slider-track-${trackId}-volume`,
            `btn-set-track-${trackId}-volume`,
            `btn-set-track-${trackId}-volume-m1`,
            `btn-set-track-${trackId}-volume-p1`,
            `text-track-${trackId}-volume`,
            (function(trackId) {
                return function(volume) {
                    ajaxRequest('post', `/api/volume/track/${trackId}/set/${volume}`, function(data) {
                        refreshTrackVolume(trackId)
                    })
                }
            })(trackId)
        )
    }

    refreshInputVolume()
    refreshOutputVolume()
    refreshTrackVolumes()
})
</script>
{% endblock %}
